body,#wrapper {
  margin:0;
  display:flex;
  flex-direction:column;
  min-height: 100vh;
  position:relative;
}
header {
  border-bottom: 2px solid black;
  width:100%;
  position:fixed;
  top:0;
  z-index:80;
  background-color: white;
  height:80px;
  
}
a h1{
  color:black;
  text-decoration: none;
  padding:0;
  margin:10px 0 0 20px;
  cursor: pointer;
  font-size:25px;
  display:inline-block;
}
h1:hover {
  opacity:0.3;
}
a {
  text-decoration: none;
}
.fa-bars {
  display:inline-block;
  color:black;
}
.grav {
  position:absolute;
  top:0;
  right:0;
  min-height:100vh;
  background-color:white;
  color:black;
  display:none;
  width:100%;
  border-left:2px solid black;
  font-size:30px;
 }
 .grav h3 {
  padding-top:20px;
  padding-bottom:20px;
  margin:0;
}
.menu-icon:hover {
  opacity:0.5;
}
.menu-icon {
  z-index:81;
}
.icon {
  position:absolute;
  top:45px;
  right:25px;
  color:black;
  float: right;
  font-size:20px;
  
}
 .close-btn {
  text-decoration: none;
  color:black;
  float: right;
  z-index:82;
 }
 .close-btn:hover {
   opacity:0.3;
 }
.grav ul {
  margin:0;
  padding:0;
}
.list {
  color:black;
  font-size:20px;
  border-bottom: 1px solid black;
}
.list:hover {
  opacity:0.5;
}
h3 {
  border-bottom:1px,solid,black;
}

.topPage {
  text-decoration: none;
}

.container a {

  font-size:20px;
  list-style: none;
  margin-left:10px;
  margin-right: 10px;
}
nav {
  text-align: center;
}
main {
  margin:100px 200px 0 200px;
}
h2 {
  text-align: center;
  font-size:35px;
  margin-bottom:60px;
}
.sneaker {
  display:flex;
   flex-wrap:wrap;
}
.sneaker1 {
  width:100%;
}
h3 {
  text-align: center;
  margin-bottom:15px;
  font-size:25px;
}
img {
  border:1px solid black ;
}
p {
  float:left;
  margin:20px 0 40px 0;
}

footer {
  margin-top:70px;
  background-color:black ;
  color:white;
}
h4 {
  margin-left:20px;
}

@media (orientation:portrait) {
  main {
    margin-top:100px;
    margin-right:30px;
    margin-left:30px;
  }
  h1 {
    font-size:25px;
  }
  h2 {
    font-size:20px;
  }
  h3 {
    font-size:15px;
  }
  p {
    font-size:15px;
  }
}
@media (max-width:500px){
  p {
    font-size:12px;
  }
}
