li {
  list-style:none;
}

body,#wrapper {
  margin:0;
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}
/*ヘッダー*/
.header {
  margin:0;
  position:fixed;
  top:0px;
  left:0;
  z-index:80;
  width:100%;
  color:black;
  float: left;
  background-color:white;
  padding-bottom:10px;
  transition:.5s;
}
.header.hide {
 transform:translateY(-100%);
}
h1 {
  color:black;
  padding:0;
  font-size:35px;
  margin:10px 0 0 20px;
  cursor: pointer;
}
h1:hover {
  opacity:0.3;
}
.scroll-btn {
  color:black;
  margin-left:20px;
}
.scroll-btn:hover {
  opacity:0.5;
}
/*メニューバー*/
.grav {
  position:absolute;
  top:0;
  right:0;
  min-height:100vh;
  background-color:white;
  color:black;
  display:none;
  width:100%;
  border-left:2px solid black;
  font-size:30px;
 }
 .grav h3 {
   padding-top:20px;
   padding-bottom:20px;
   margin:0;
 }

.menu-icon:hover {
  opacity:0.5;
}
.menu-icon {
  z-index:81;
}
.icon {
  position:absolute;
  top:45px;
  right:25px;
  color:black;
  float: right;
  font-size:20px;
  
}
 .close-btn {
  text-decoration: none;
  color:black;
  float: right;
  z-index:82;
 }
 .close-btn:hover {
   opacity:0.3;
 }
.grav ul {
  margin:0;
  padding:0;
}
.list {
  color:black;
  font-size:20px;
}
.list:hover {
  opacity:0.5;
}
h3 {
  border-bottom:1px,solid,black;
}

.topPage {
  text-decoration: none;
}

.container a {

  font-size:20px;
  list-style: none;
  margin-left:10px;
  margin-right: 10px;
}
nav {
  text-align: center;
}

/*メインコンテンツ*/
.main {
  margin-top: 150px;
  flex:1;
}
.container {
  text-align: center;
}
h2 {
  font-size:35px;
  text-align: center;
  border-bottom: 1px solid black;
  padding:25px 0;
  color:black;
  
}

.koumoku-title {
  font-size:20px;
  text-align: center;
  margin:30px 50px;
}


.contents {
  margin:0 auto;
  width:100%;
}
.img-wrapper {
  padding-top:50px;
}
/*スナップ写真*/
.snap1 {
  height:250px;
  width:166px;
}
.snap1:hover {
  opacity:0.3;
}
/*モーダル*/
.image-modal-wrapper {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,0,0.6);
  min-height:100vh;
  display:none;
  z-index:100;
}
.image-big1 {
  display: none;
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left: 0;
  height:55%;
  text-align: center; 
  margin: auto;
  z-index: 4;
  background-color: rgba(0,0,0,0.6);
}
.image-big2 {
  display: none;
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left: 0;
  height: 55%;
  text-align: center; 
  margin: auto;
  z-index: 4;
}
.image-big3 {
  display: none;
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left: 0;
  height: 55%;
  text-align: center; 
  margin: auto;
  z-index: 4;
}
.image-big4 {
  display: none;
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left: 0;
  height: 55%;
  text-align: center; 
  margin: auto;
  z-index: 4;
}
.select-number-wrapper {
  font-size:20px;
  margin-top:20px;
}
.select-number {
  display:inline-block;

}
.contents p {
  font-size: 20px;
  margin:20px;
}

.contents-item {
  width:25%;
  float:left;

}

/*特集*/
.feature-wrapper {
  border:1px solid black;
  padding-top:20px;
  padding-bottom:10px;
  margin:90px 50px;

}
.select-btn-wrapper {
  font-size:25px;
  color:white;
}
.select-btn {
  display:inline-block;
  margin-bottom:20px;
  background-color: black;
  padding:10px 20px;
  cursor:pointer;
}
.select-btn:hover {
  opacity:0.5;
}
.feature2 a {
  margin:30px 0 10px 0;
  font-size:25px;
  cursor:pointer;
  color:black;
}
.feature1 a:hover {
  opacity:0.3;
}
.feature1 img {
  margin-top: 50px;
  margin-bottom: 30px;
}
.feature0 {
  text-align: center;
}

.sneaker1 {
  display:none;
}

.active {
  display:inline-block;
}


/*問い合わせ*/

textarea {
  width:60%;
  margin-bottom:10px;
}
.submit {
  cursor: pointer;
  width:100px;
  margin-bottom:25px;
}
.contact-contents {
  display:flex;
  flex-direction: column;
  width:45%;
  margin:25px auto;
}
.koumoku-title h4 {
  font-size:25px;
}
select {
  height:30px;
  width:100%;
}

textarea {
  width:100%;
}
.contactName {
  width:100%;
  height:30px;
}

.contactP {
  font-size:15px;
  margin:10px 0;
  text-align: left;
  width:100%;
}
.gender-select {
  width:12%;
  margin-left:0;
  text-align: left;
}
.submit {
  margin:0 auto;
}
/*フッター */
footer {
  
  width:100%;
  background-color:black;
  color:white;
  margin-top:auto;
  margin-bottom:0;
  padding-bottom:10px;
  
}
footer p {
  margin-top:30px;
  margin-left: 25px;
  margin-bottom:0;
}
.fa-instagram {
  margin-top:20px;
  margin-left:25px;
  margin-bottom:40px;
  font-size:50px;
  color:white;
}


@media (max-width:1000px){
  .header {
    background-color:transparent;
    color:black;
  }
  
   h1 {
     font-size:35px;
     float:left;
     padding:0;
     margin-left:15px;
     position:absolute;
     top:15px;
     color:black;
   }
 
  .scroll-btn {
    display:none;
  }

 
.image-big1 {
  box-sizing: border-box;
  
  height:60%;
}
.image-big2 {
  box-sizing: border-box;
  height:60%;
}
.image-big3 {
  box-sizing: border-box;
  height:60%;
}
.image-big4 {
  box-sizing: border-box;
  height:60%;
}
.feature1 img {
  box-sizing: border-box;
  height:50%;
  width:60%;
}

}
@media (orientation:portrait) {
.header {
  background-color:transparent;
  color:black;
}

 h1 {
   font-size:20px;
   float:left;
   padding:0;
   margin-left:15px;
   position:absolute;
   top:15px;
   color:black;
 }
 h2 {
   font-size:25px;
   padding:0;
   margin:0;
 }
 h3 {
   font-size:25px;
 }
 .main {
   margin:110px 0;
 }
 .select-btn {
   font-size:15px;
   padding:5px 10px;
 }
 .feature2 a{
   font-size:20px;
 }
 
 .grav h3 {
   padding-top:25px;
 }
 .close-btn {
   font-size:15px;
 }
 .img-wrapper {
   display:flex;
   flex-wrap:wrap;
 }
 .contents-item {
   width:50%;
 }
 .contents p{
  font-size:15px;
 }
 
 .snap1 {
   height:70%;
   width:40%;
 }
 .snap2 {
   height:70%;
   width:40%;
 }
 .snap3 {
   height:70%;
   width:40%;
 }
 .snap4 {
   height:70%;
   width:40%;
 }
 
  .feature1{ 
    margin:0 10px;
    
  }
 .contact-contents{
   width:80%;
 }
  
  .contactPage p{
    font-size:20px;
  }
  .contactName {
    height:25px;
  }
  select {
    width:100px;
  }

}
