li {
  list-style:none;
}

body,#wrapper {
  margin:0;
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}
.header {
  margin:0;
  position:fixed;
  top:0px;
  z-index:100;
  width:100%;
  text-align: center;
  background-color: black;
  color:white;
}
h1 {
  color: white;
  padding:0;
}
.scroll-btn {
  color:white;
}

.grav {
  position:absolute;
  top:0;
  right:0;
  min-height:100vh;
  background-color:white;
  color:black;
  display:none;
  width:75%;
  border-left:2px solid black;
  font-size:30px;
 }
 .grav h3 {
   margin-top:65px;
 }
 .close-btn {
  text-decoration: none;
  color:black;
  float: right;
  position:absolute;
  top:65px;
  right:10px;
 }
 .close-btn:hover {
   opacity:0.3;
 }
.grav ul {
  margin:0;
  padding:0;
}
.list {
  color:black;
}
.list:hover {
  opacity:0.5;
}
h3 {
  border-bottom:1px,solid,black;
}


h1 {
  font-size:35px;
  margin:0;
  cursor: pointer;
}
.topPage {
  text-decoration: none;
}
.container {
  text-align: center;
}

.container a {

  font-size:20px;
  list-style: none;
  margin-left:10px;
  margin-right: 10px;
}
.main {
  margin-top: 150px;
  flex:1;
}
h2 {
  font-size:35px;
  text-align: center;
  border-bottom: 1px solid black;
  padding:25px 0;
  color:black;
  
}
.snap:hover {
  opacity: 0.3;
  }
.feature:hover {
  opacity: 0.3;
}
.contact:hover {
 opacity:0.3;
}

.koumoku-title {
  font-size:20px;
  text-align: center;
  margin:30px 50px;
}


.contents {
  margin:0 auto;
  width:100%;
}
.img-wrapper {
  padding-top:50px;
}
.snap1 {
  height:250px;
  width:166px;
  
  
}
.snap1:hover {
  opacity:0.3;
}

.snap2 {
  height:250px;
  width:166px;
  
}
.snap2:hover {
  opacity:0.3;
}
.snap3 {
  height:250px;
  width:166px;
}
.snap3:hover {
  opacity:0.3;
}
.snap4 {
  height:250px;
  width:166px;
}
.snap4:hover {
  opacity:0.3;
}


.image-big1 {
  display: none;
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left: 0;
  height:55%;
  text-align: center; 
  margin: auto;
  z-index: 4;
  background-color: rgba(0,0,0,0.6);
}
.image-big2 {
  display: none;
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left: 0;
  height: 55%;
  text-align: center; 
  margin: auto;
  z-index: 4;
}
.image-big3 {
  display: none;
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left: 0;
  height: 55%;
  text-align: center; 
  margin: auto;
  z-index: 4;
}
.image-big4 {
  display: none;
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left: 0;
  height: 55%;
  text-align: center; 
  margin: auto;
  z-index: 4;
}

.contents p {
  font-size: 20px;
  margin:20px;
}

.contents-item {
  width:25%;
  float:left;

}


.feature2 a {
  text-align: center;
  margin:30px 0 10px 0;
  font-size:25px;
  cursor:pointer;
  color:black;
}
.feature1 a:hover {
  opacity:0.3;
}
.feature1 img {
  float:inherit;
  margin-top: 50px;
  margin-bottom: 50px;
}
.feature0 {
  text-align: center;
}
.contactPage {
  text-align: center;
}
textarea {
  width:60%;
  margin-bottom:10px;
}
.submit {
  cursor: pointer;
  width:100px;
  margin-bottom:25px;
}
.contact-contents {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.contact-contents p {
  font-size:25px;
}
footer {
  
  width:100%;
  background-color:black;
  color:white;
  margin-top:auto;
  margin-bottom:0;
  
}
footer h3 {
  margin-top:30px;
  margin-left: 30px;
}
.menu-icon {
  position:absolute;
  top:65px;
  right:10px;
  color:white;
  float: right;
}
.menu-icon:hover {
  opacity:0.5;
}


@media (max-width:1000px){
 
  
  .scroll-btn {
    display:none;
  }

 
.image-big1 {
  box-sizing: border-box;
  
  height:60%;
}
.image-big2 {
  box-sizing: border-box;
  height:60%;
}
.image-big3 {
  box-sizing: border-box;
  height:60%;
}
.image-big4 {
  box-sizing: border-box;
  height:60%;
}


}
@media (max-width:850px) {
 h1 {
   font-size:20px;
   float:left;
   padding:0;
   margin-left:15px;
 }
 h2 {
   font-size:25px;
   padding:0;
   margin:0;
 }
 .main {
   margin:110px 0;
 }
 .feature2 a{
   font-size:20px;
 }
 .menu-icon {
   top:10px;
 }
 .close-btn {
   top:40px;
 }
 .grav h3 {
   margin-top:25px;
 }
 .img-wrapper {
   display:flex;
   flex-wrap:wrap;
 }
 .contents-item {
   width:50%;
 }
 .contents p{
  font-size:15px;
 }
 
 .snap1 {
   height:70%;
   width:40%;
 }
 .snap2 {
   height:70%;
   width:40%;
 }
 .snap3 {
   height:70%;
   width:40%;
 }
 .snap4 {
   height:70%;
   width:40%;
 }
 
  .feature1{ 
    margin:0 10px;
    
  }
  .feature1 img {
    box-sizing: border-box;
    width:100%;
    height:50%;
    width:60%;
  }
  .contactPage p{
    font-size:20px;
  }
  footer{
    text-align: center;
  
  }

}
